@CHARSET "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

html {

    background-color: black;
}

#background {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;

}

.stretch {
    display: block;
    width: 80%;
    margin: auto;
}

body {
    background: url("../images/transparent_gradient.png") repeat-x fixed 0 0 transparent;
    margin: 0;
    padding: 60px 0 0 !important;
}

body {
    color: #6F6F6F;
    font-family: "museo-sans-1", "museo-sans-2", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.4;
}

.login-form {
    margin: auto;
    width: 300px;
    height: 100px;
    border: #808080;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: rgba(0, 0, 100, 0.5);
    margin-top: 200px;
}

.loginContainer {
    padding: 10px 10px;
}

.loginLabel {
    display: block;
    width: 7em;
    float: left;
    text-align: left;
}

#footer {
    padding: 1%;
    height: 5%;
}

.content {
    background: url("../images/textured_background.jpg") repeat scroll 0 0 #F2F2EB;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto 20px;
    max-width: 1115px;
    overflow: hidden;
    padding: 20px;
    width: 90%;
    min-height: 81.5%;
}

#content {
    height: 100%;
}

.gradient {
    background: rgb(246, 248, 249); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 248, 249, 1)), color-stop(50%, rgba(229, 235, 238, 1)), color-stop(51%, rgba(215, 222, 227, 1)), color-stop(100%, rgba(245, 247, 249, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f6f8f9', endColorstr = '#f5f7f9', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%); /* W3C */
}

.view {
    width: 60%;
    height: 100%;
}

.pageLayout {
    height: 100%;
    margin: 0 auto;
}

.fileUploader {
    width: 220px;
    height: 25px;
}

.uploaderFileList {
    width: 240px;
    height: 80px;
    overflow: auto;
}

.equipmentFormContainer {
    margin: 5px 20px 5px;
    background-color: #FFF0AB;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    height: 430px;
    float: left;
}

#preloader {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url('../js/dojox/image/resources/images/loading.gif') no-repeat center center;
    z-index: 999;
    background-color: transparent;
    position: absolute;
}

#innerpreloader {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url('../js/dojox/image/resources/images/loading.gif') no-repeat center center;
    z-index: 999;
    background-color: transparent;
    position: static;
    left: 0px;
    top: 0px;
}

#imagePicker {
    margin: auto;
}

.newPlaceHolder {
    margin-top: 10px !important;
    padding: 0 20px !important;
    width: 93% !important;
}

.equipmentListView {
    margin: auto;
}

.equipmentListView .equipmentListGrid {
    width: 100%;
    height: 600px;
}

.equipmentView {
    height: 100%;
    width: 100%;
}

.equipmentFormView {
    width: 245px;
}

.basicDefinition {
    width: 300px;
    margin: 15px 20px 15px;
    padding: 5px 20px 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border: #808080;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    float: left;
}

.basicLabel {
    width: 40px;
}

.definitions {
    margin: auto;
    height: auto;
    width: 800px;
}

.simpleWidgetContainer {
    width: 149px;
    border: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 0 1px 0 #AAAAAA;
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(244, 244, 244, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f4f4f4', GradientType = 0); /* IE6-9 */
    display: inline-block;
    margin: 7px 5px 3px;
    padding: 5px;

}

.employeeDefinitionContainer {
    padding: 5px;
}

.simpleWidgetDefinition {
    left: 48px;
    padding-left: 5px;
    margin: 5px 7px 5px;
    width: 89px;
    line-height: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.simpleWidgetImage {
    width: 48px;
    height: 48px;
    float: left;
}

.yuksekisler-widget {
    height: 100%;
    width: 100%;
}

#navigation {
    font-family: "museo-sans-1", "museo-sans-2", sans-serif;
    height: 46px;
    margin: 25px 0px 15px;
}

#navigation ul {
    list-style: none outside none;
}

#navigation ul li {
    display: inline;
    font-weight: bold;
}

#navigation ul li a.active {
    background: none repeat scroll 0 0 #505667;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#navigation ul li a {
    -moz-transition: background 0.25s linear 0s;
    border-radius: 5px 5px 5px 5px;
    color: #505667;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 7px 15px;
    text-decoration: none;
    cursor: pointer;
}

#navigation ul li a:hover {
    -moz-transition: background 0.25s linear 0s;
    background: none repeat scroll 0 0 #D5D2C6;
    color: #FFFFFF;
    opacity: 0.5;
    text-shadow: 0 1px 0 rgba(143, 141, 134, 0.5);
}

#reportForm {
    background-color: white;
}

#footer-wrapper {
    background: url("../images/leather_footer_bg.jpg") repeat scroll 0 0 #505667;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    height: 400px;
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
}

#footer {
    color: #FFFFFF;
    font-size: 0.93em;
    margin: 0 auto;
    width: 90%;
}

ul#social_links li {
    background-position: left center;
    color: #44495B;
    margin-bottom: 7px;
    padding-left: 25px;
    text-shadow: 0 -1px 0 #000000;
}

ul#social_links li a {
    color: #195D87;
}

ul#social_links li.feed {
    background: url("../images/rss_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.twitter {
    background: url("../images/twitter_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.flickr {
    background: url("../images/flickr_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.linkedin {
    background: url("../images/linkedin_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.lastfm {
    background: url("../images/lastfm_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.delicious {
    background: url("../images/delicious_16.png") no-repeat scroll 0 0 transparent;
}

ul#social_links li.dribble {
    background: url("../images/dribbble_16.png") no-repeat scroll 0 0 transparent;
}

.bevel_line {
    background: url("../images/footer_bevel.gif") repeat-x scroll 0 0 transparent;
    font-size: 0;
    height: 2px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.col1, .col2, .col3 {
    float: left;
    margin-bottom: 4em;
    margin-right: 5%;
    min-width: 200px;
    width: 30%;
}

.col3 {
    margin-bottom: 50px;
    margin-right: 0;
}

.clearboth {
    clear: both;
}

#footer p {
    color: #44495B;
    text-shadow: 0 -1px 0 #000000;
}

p.copyright {
    color: #303956;
    font-size: 0.82em;
    text-shadow: 0 -1px 0 #000000;
}

div.loading {
    background-image: url(../js/dojox/image/resources/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.fileUploadResultWidget {
    /*TODO: define*/
}

.fileUploadFileInfo {
    /*TODO: define*/
}

.workDefinitionView {
    width: 100%;
    margin: auto;
}

.workDefinitionViewForm {
    width: 80%;
    margin: auto;
}

.workDefinitionViewForm > table {
    width: 80%;
    margin: auto;
}

.workDefinitionViewForm > table td {
    padding-top: 5px;
    padding-bottom: 3px;
}

.workDefinitionViewForm label {
    text-align: right;
    width: 100%;
    display: inline-block;
    min-width: 50px;
}

.workDefinitionDates {
    width: 100%;
}

.workDefinitionView #equipmentDragSource {
    width: 360px;
    height: 350px;
    overflow: auto;
}

.workDefinitionView #dropArea {
    width: 360px;
    height: 350px;
    overflow: auto;
    background: #e0e0e0;
    left: 20px;
    position: relative;
}

.workListView {
    margin: auto;
}

.workListView .workListGrid {
    width: 100%;
    height: 600px;
}

.dojoDndItemAnchor, .dojoDndItemSelected {
    border-color: #ff0000 !important;
}

.dojoDndItemOver {
    border-color: #808080;
}

.leftColumn {
    float: left;
}

.rightColumn {
    float: right;
}

.line-header {
    width: 100%;
    overflow: hidden;;
}

.line {
    border-bottom: #808080 solid 2px;
    line-height: 0;
    vertical-align: middle;
    margin: 5px;
}

.dijitToasterContent {
    padding: 1em;
    padding-top: 0.25em;
    background: transparent;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
}

.dijitToasterMessage {
    color: #505667;
}

.dijitToasterWarning {
}

.dijitToasterError,
.dijitToasterFatal {
    font-weight: bold;
    color: #505667;
}

.dijitToasterWarning .dijitToasterContent {
    padding: 1em;
    padding-top: 0.25em;
    background: #ffff00;
}

.dijitToasterError .dijitToasterContent {
    padding: 1em;
    padding-top: 0.25em;
    background: #ffff00;
    color: red;
}

.dijitToasterClip {
    position: absolute;
    z-index: 5000;
    overflow: hidden;
}

.dijitToasterContainer {
    display: block;
    position: absolute;
    width: 17.5em;
}

#toaster {
    margin: auto;
}

