<div dojoAttachPoint="containerNode" style="height: 100%;">
    <div dojoType="dijit.layout.BorderContainer" region='top' style='height: 320px;' gutters='false'>
        <div dojoType="dijit.layout.ContentPane" region='left' dojoAttachPoint='editEquipmentContent' parseOnLoad='false' style='width:40%;'>
            
        </div>
        <div dojoType="dijit.layout.ContentPane" region='right' style='width:60%;'>
            right pane
        </div>
    </div>
    <div dojoType='dijit.layout.ContentPane' region='center' style="height:100%; ">
        content
    </div>
</div>