<div dojoAttachPoint="containerNode" class='equipmentView'>
    <div id='inspectionReportFormView' class='equipmentViewForm'></div>
    <div id='inspectionReportView'>
        <div dojoType="dijit.layout.ContentPane" region='leading' dojoAttachPoint='editEquipmentContent'
             parseOnLoad='false' class='equipmentFormContainer'>
        </div>
        <div dojoType='dijit.layout.ContentPane' region='center' dojoAttachPoint='inspectionReportContent'>
            content
        </div>
        <div dojoType="dijit.layout.ContentPane" region='bottom' dojoAttachPoint='imageContent' style='height:90px'>

        </div>
    </div>
</div>