<div dojoAttachPoint="containerNode" class='navigation'>
    <ul>
        <li>
            <a dojoAttachPoint='equipments'>
                <span>Equipments</span>
            </a>
        </li>
        <li>
            <a dojoAttachPoint='works'>
                <span>Works</span>
            </a>
        </li>
        <li>
            <a dojoAttachPoint='employees'>
                <span>Employees</span>
            </a>
        </li>
        <li>
            <a dojoAttachPoint='definitions'>
                <span>Definitions</span>
            </a>
        </li>
        <li>
            <a dojoAttachPoint='logout' style='float: right;'>
                <span>Logout</span>
            </a>
        </li>
    </ul>
    <form action='/yuksekisler/yuksekisler/j_spring_security_logout'
          dojoAttachPoint='logoutForm' method='post'></form>
</div>