<div dojoAttachPoint="containerNode" class='workDefinitionView'>
    <div class='workDefinitionViewForm' dojoType='dijit.form.Form' dojoAttachPoint='workDefinitionViewForm'>
        <table>
            <tr>
                <td colspan="2">
                    <label for='name' class='basicLabel'>Name:</label>
                </td>
                <td colspan="3">
                    <div id='name' name='name' dojoType='dijit.form.ValidationTextBox' required='true'
                         missingMessage="Name required"
                         promptMessage="Enter Work name" dojoAttachPoint='workName'></div>
                </td>
                <td colspan="2">
                    <label for='customer' class='basicLabel'>Customer:</label>
                </td>
                <td colspan="3">
                    <div id='customer' name='customer' dojoType='dijit.form.ValidationTextBox' required='true'
                         missingMessage="Name required"
                         promptMessage="Enter Customer name" dojoAttachPoint='customerName'></div>
                </td>
            </tr>
            <tr>


                <td colspan="2">
                    <label for='startDate' class='basicLabel'>StartDate:</label>
                </td>
                <td colspan="3">
                    <div id='startDate' name='startDate' dojoType='dijit.form.DateTextBox' required='true'
                         dojoAttachPoint='startDate'></div>
                </td>


                </td>
                <td colspan="2" rowspan="2">
                    <label for='supervisors'>Supervisors:</label>
                </td>
                <td colspan="3" rowspan="2">
                    <div id='supervisors' name='supervisors' dojoType='dojox.form.CheckedMultiSelect' multiple='true'
                         required='true'
                         dojoAttachPoint='supervisorSelect'>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for='endDate' class='basicLabel'>FinishDate:</label>
                </td>
                <td colspan="3">
                    <div id='endDate' name='endDate' dojoType='dijit.form.DateTextBox'
                         dojoAttachPoint='finishDate'></div>
                </td>
            </tr>
        </table>
    </div>
    <h3 class='line-header'>
        <div style="width: 1px"></div>
        <div class='line leftColumn'></div>


        <div>Work Content</div>


        <div class='line rightColumn'></div>

    </h3>
    <label for='categorySelect'>Select Category:</label>

    <div id='categorySelect' dojoType="dijit.form.Select" dojoAttachPoint="categorySelection" autoWidth='true'></div>
    <br/>

    <div class='leftColumn'>
        <div id='equipmentDragSource' dojoAttachPoint='equipmentDragSource'></div>
    </div>

    <div id='dropArea' dojoAttachPoint='dropArea'></div>

    <div id='employeeDragSource'></div>
    <div style='margin: auto;width:120px;'>
        <div dojoType='dijit.form.Button' dojoAttachEvent='onClick:onSave'>
            Save
        </div>
        <div dojoType='dijit.form.Button' dojoAttachEvent='onClick:onCancel'>
            Cancel
        </div>
    </div>
</div>