<form id='equipmentForm' class='form-horizontal'>
    <div class="row">
        <div class="span5">
            <div class="control-group">
                <label for='productName' class="control-label">Product Name:</label>

                <div class="controls">
                    <span id='productName' name="productName" class='uneditable-input span3'>{{equipment.productName}}</span>
                </div>

            </div>
            <div class="control-group">
                <label for='productCode' class="control-label">Product Code:</label>

                <div class="controls">
                    <span id='productCode' name='productCode' class='uneditable-input span3'>{{equipment.productCode}}></span>
                </div>
            </div>

            <div class="control-group">
                <label for='categories' class="control-label">Category</label>

                <div class="controls">
                    <span id='categories' name='categories' class='uneditable-input span3'>{{equipment.category.name}}</span>
                </div>
            </div>
            <div class="control-group">
                <label for='brands' class="control-label">Brand:</label>

                <div class="controls">
                    <span id='brands' name='brands'
                          class='uneditable-input span3'>{{equipment.brand.name}}</span>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                <label for='stockEntrance' class="control-label">StockEntrance Date:</label>

                <div class="controls">
                    <span id='stockEntrance' name='stockEntrance' class='uneditable-input span3'>{{equipment.stockEntrance|date:'yy-mm-dd'}}</span>
                </div>
            </div>
            <div class="control-group">
                <label for='bestBefore' class="control-label">BestBefore Date:</label>

                <div class="controls">
                    <span id='bestBefore' name='bestBeforeDate' class='uneditable-input span3'>{{equipment.bestBeforeDate|date:'yy-mm-dd'}}</span>
                </div>
            </div>
            <div class="control-group">
                <label for='production' class="control-label">Production Date:</label>

                <div class="controls">
                    <span id='production' name='productionDate' class='uneditable-input span3'>{{equipment.productionDate|date:'yy-mm-dd'}}</span>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="span2">
        <div id="addFileButton" class="btn fileinput-button">
            <i>Upload Pictures</i>
        </div>
        <input id="fileInput" type="file" name="uploadedfiles[]" onchange="angular.element(this).scope().fileSelected()">
    </div>
    <div class="span3">
        <div id="uploadProgressbar" style="display: none"></div>
        <div id="uploadFailedAlert" class="alert alert-error" style="display: none">
            File upload failed!
        </div>
        <div id="uploadSuccessAlert" class="alert alert-success" style="display: none">
            File upload successfull!
        </div>
    </div>
</div>
<div>
    <p>
        <div>FileName {{fileName}}</div>
        <div>FileSize {{fileSize}}</div>
        <div>FileType {{fileType}}</div>
    </p>
</div>
<div class="row">
    <h3>Inspection Reports</h3>
    <div class="row" ng-repeat="inspectionReport in equipment.inspectionReports">
        <div class="span9 offset1">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href data-toggle="collapse" class="accordion-toggle" data-target="#collapse{{$index}}">
                        Report by {{inspectionReport.inspector.name}} {{inspectionReport.inspectionDate|date:'yy-mm-dd'}}
                    </a>
                </div>
                <div id="collapse{{$index}}" class="accordion-body collapse">
                    <div class="accordion-inner"> {{inspectionReport.report}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addInspectionReport">Add Report</div>