<div dojoAttachPoint='containerNode' class='equipmentFormView'>
    <div dojoType='dijit.form.Form' dojoAttachPoint="form" enctype="multipart/form-data" method='post'
         action='/yuksekisler/equipment/'>
        <div dojoType="dojox.layout.TableContainer" orientation="vert" cols="1" id="tc1">
            <div id='productName' dojoType='dijit.form.TextBox' name='productName' label='Product Name' width='auto'
                 required='true' dojoAttachPoint='productName'></div>

            <div id='productCode' dojoType="dijit.form.TextBox" name="productCode" label='Product Code' width='auto'
                 required='true' dojoAttachPoint='productCode'></div>

            <div id='category' name="category" dojoType='dijit.form.Select' dojoAttachPoint='categorySelect'
                 query='{}' label='Categories' width='auto' required='true'></div>

            <div id='brand' name="brand" dojoType='dijit.form.Select' dojoAttachPoint='brandSelect'
                 query='{}' label='Brands' width='auto' required='true'></div>
            <div id='stockEntrance' name='stockEntrance' dojoType='dijit.form.DateTextBox'
                 dojoAttachPoint='stockEntrance'
                 label='StockEntrance Date' width='auto' required='true'></div>
            <div id='bestBeforeDate' name='bestBeforeDate' dojoType='dijit.form.DateTextBox'
                 dojoAttachPoint='bestBeforeDate'
                 label='BestBefore Date' width='auto' required='true'></div>
            <div id='productionDate' name='productionDate' dojoType='dijit.form.DateTextBox'
                 dojoAttachPoint='productionDate'
                 label='Production Date' width='auto' required='true'></div>
        </div>
        <input name="uploadedfile" multiple="true" type="file" dojoType="dojox.form.Uploader" label="Upload Images"
               id="uploader" dojoAttachPoint='uploader' class='fileUploader'/>

        <div id="files" dojoType="dojox.form.uploader.FileList" uploaderId="uploader" class='uploaderFileList'></div>

        <div dojoType='dijit.form.Button' label='Save' dojoAttachEvent='onClick:onSave'></div>
    </div>
</div>