<form id='equipmentForm' class='form-horizontal' action="<%=appconfig.context%>/equipment" method="post">
    <fieldset>

        <div class="control-group">

            <label for='productName' class="control-label">Product Name:*</label>

            <div class="controls">
                <input id='productName' name="productName" type="text" class='validate[required]'/>
            </div>

        </div>
        <div class="control-group">

            <label for='productCode' class="control-label">Product Code:*</label>

            <div class="controls">
                <input id='productCode' name='productCode' type="text" class='validate[required]'/>
            </div>
        </div>

        <div class="control-group">
            <label for='categories' class="control-label">Categories:*</label>

            <div class="controls">
                <select id='categories' name='categories'>
                    <% categories.each(function(category){ %>
                    <option value="<%=category.id%>"><%=category.get('name')%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for='brands' class="control-label">Brands:*</label>

            <div class="controls">
                <select id='brands' name='brands'>
                    <% brands.each(function(brand){ %>
                    <option value="<%=brand.id%>"><%=brand.get('name')%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for='stockEntrance' class="control-label">StockEntrance Date:*</label>

            <div class="controls">
                <input id='stockEntrance' name='stockEntrance' type='text' class='validate[required] datepicker'/>
            </div>
        </div>
        <div class="control-group">
            <label for='bestBefore' class="control-label">BestBefore Date:*</label>

            <div class="controls">
                <input id='bestBefore' name='bestBeforeDate' type='text' class='validate[required] datepicker'/>
            </div>
        </div>
        <div class="control-group">
            <label for='production' class="control-label">Production Date:*</label>

            <div class="controls">
                <input id='production' name='productionDate' class='validate[required] datepicker' type='text'/>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div id="submitButton" class="span3">Create Equipment</div>
        <div id="cancelButton" class="span3">Cancel</div>
    </div>
</form>